# ==========================================
# C# / Visual Studio
# ==========================================

# Build results
bin/
obj/

# Visual Studio files
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# ==========================================
# Logging Files
# ==========================================

*.log

# Generated trace / log files
app-log.txt
trace-log.txt
test-log.txt

# ==========================================
# Local Learning Material
# ==========================================

*.pdf

# ==========================================
# Operating System Files
# ==========================================

.DS_Store
Thumbs.db
